:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris_oscuro: #666;
    --gris_claro: #ebebeb;
    --verde: #39b54a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    background-color: var(--amarillo);
}

.w-1 {
    flex-grow: 1;
}

.w-2 {
    flex-grow: 2;
}

.p-20 {
    padding: 20px;
}

.bg-white {
    background-color: white;
}

.b-right {
    border-right: none;
}

.t-align {
    text-align: center;
}

.j-content {
    justify-content: center;
}

.f-direction-c {
    flex-direction: column;
}

body {

    background-color: var(--gris_claro);
}

a {
    text-decoration: none;
    color: black;
}

.parrafos {
    font-size: 12px;
    
}

.titulares {
    font-size: 24px;
    margin: 20px 15px;
    width: 90%;
    color: var(--gris_oscuro);
}

.precios {
    font-size: 18px;
    
}

.descuentos {
    font-size: 16px;
    color: var(--verde);
}

.descripcion {
    font-size: 16px;
    display: none;
}

.mitad {
    width: 50%;
}

.baner {
    width: 100%;
    display: block;
}

.articulos {
    background-color: white;
    margin: 0 15px;
}

.articulos i {
    color: var(--verde);
}

.separacion {
    margin: 20px 15px;
}

.pie_articulos i {
    color: var(--celeste);
}

.articulo_final {
    margin: 20px 0;
}

.icono {
    text-align: center;
    /*
    width: 40px;
    height: 40px;
    */
    background-color: #0044aa;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    box-sizing: border-box;
}

.navegacion_links {
    list-style-type: none;
    color: black;
    display: none;
    padding-inline-start: 0;
    text-align: center;
}

.login {
    margin: 0 20px;
}

.register {
    margin: 0 20px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border-width: 0;
}

.fecha {
    background-color: lightgray;
}

.boton_enviar {
    color: white;
    background-color: #0044aa;

}

.boton_borrar {
    color: white;
    background-color: #aa0044;

}

.boton_1 .boton_enviar:hover {
    background-color: #0022aa;
}

.boton_2 .boton_borrar:hover {
    background-color: #CC1155;
}

#cabecera {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris_claro);
    flex-direction: column;
}

#logo {
    background-color: var(--amarillo);
    flex-direction: column;
}

#logo img {
    width: 100%;
    
}

#navegacion .icono:hover .navegacion_links{
    background-color: #0022aa;
    display: inline;  
    justify-content: center;  
}

#principal {
    background-color: var(--gris_claro);
}

#pie {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 20px 5%;
}
